@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Thin.ttf");
}

@font-face {
   font-family: Forum;
   src: url("./assets/fonts/Forum-Regular.ttf");
}
@font-face {
  font-family: Roboto-bold;
  src: url("./assets/fonts/Roboto-Bold.ttf");
}
:root {
  --bg-dark: #030303;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --font-white: #ffff;
  --Forum: 'Forum', sans-serif;
  --Roboto: 'Roboto', sans-serif;
  --Roboto-bold: 'Roboto-bold', sans-serif;
}

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

a{
 text-decoration: none;
}

html{
 scroll-behavior: smooth;
}
.wrap-body{
  max-height: 6250px;
}
.section{
 background-size:cover;

}
.wrap-dark{
 padding-top:75px;
 padding-bottom: 75px;
 background-color: var(--bg-dark);
 color: var(--font-white);
}
.wrap-dark a:link {
 color: var(--font-white);
}
.wrap-dark a:visited {
 color: var(--font-white);
}
.wrap-dark a:hover {
 color: var(--font-gold);
}

.wrap-white{
 padding-top:75px;
 padding-bottom: 75px;
 background-color:var(--font-white);
}

.wrap-video{
 padding-top:90px;
 padding-bottom: 75px;
 background-color:var(--font-white);
}

.container{
 margin: 0px auto;
  max-width: 1370px;
}

.title-padding{
 text-align: justify;
 font-family:var(--Roboto);
 font-size: 30px;
 letter-spacing: 3px;
}

 .header-container {
 display: flex;
 justify-content: space-between;
 padding-right: 0px;
 align-items: center;
 height: 75px;
 /* min-width: 1440px; */
}

.image-icon{
 width: 50%;
 font-family: var(--Forum);
 font-size: 28px;
 text-transform: uppercase;
 letter-spacing: 5px;
 color: var(--font-white);
}

.image-icon * {
 vertical-align: middle;
}

.image-icon img{
  padding-right: 2%;
}

.nav-container {
 width: 50%;
 height: 50px;
 align-items:center;
 justify-content: space-between;
}
.nav-container ul {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 font-family:var(--Roboto);
 font-size: 21px;
 letter-spacing: 4px;
 word-spacing: 1px;
 color: var(--font-white);
}
.nav-container ul li {
  list-style: none;
}

.welcome-section{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 align-content: center;
 min-height: 12%;
}

.welcome-background {
 min-height: 750px;
 background: var(--bg-dark)  url("./assets/img/background.jpg") right bottom no-repeat;
 background-size: 60% 100%;
}

h1{
 margin:0px;
 padding-top:5%;
 padding-bottom: 5%;
 font-family: var(--Forum);
 letter-spacing: 5px;
 font-weight:normal;
 font-size: 80px;
 text-transform: uppercase;
}

.title{
 flex-direction: column;
 font-family: var(--Roboto);
 font-size: 30px;
 color:var(--font-white);
}

.title h2{
 text-align: justify;
 padding-bottom: 13%;
 font-family:var(--Roboto);
 font-size: 24px;
 letter-spacing: 4px;
 word-spacing: 1px;
}

.title button{
 width: 60%;
 height: 70px;
 border-radius: 7px;
 background-color: var(--dark-red);
 font-family: var(--Roboto);
 font-size: 20px;
 letter-spacing: 3px;
 color:var(--font-white);
 word-spacing: 1px;
}
.title button:link{
 background-color:var(--font-gold);
}
.title button:visited{
 background-color:var(--font-gold);
}
.title button:hover{
 background-color:var(--font-gold);
}

.section-title{
 justify-content: space-between;
 margin:0px;
 padding-bottom:11px;
 border-bottom: 3px solid var(--dark-red);
 font-family: "Forum", sans-serif;
 font-size: 80px;
 text-transform: uppercase;
}


.title-underline{
 position: relative;
 font-family: "Forum", sans-serif;
 font-size: 80px;
 font-weight:normal;
 letter-spacing: 5px;
 text-transform: uppercase;
 color: var(--font-gold);
}
.title-underline::after {
 content: "";
 position: absolute;
 bottom: -25px;
 left: 0;
 right: 0;
 height: 3px;
 background-color:var(--dark-red);
 }

.card-container{
 display:flex;
 justify-content: space-between;
 flex-wrap: wrap;
 padding-top: 8%;
 gap: 60px 3%;
}

.card{
 display: block;
 padding-bottom: 1%;
 flex-direction: column;
 justify-content: space-between;
 width: 30%;
 height:36%;
 font-family: "Roboto" sans-serif;
 font-size:30px;
 text-decoration: none;
 color: black;
}
.card img{
  object-fit: fill;
 display: block;
 width: 100%;
 -webkit-transition: all 0.3s ease;;
 -moz-transition: all 0.3s ease;;
 -o-transition: all 0.3s ease;;
 transition: all 0.3s ease;
}
.card img:hover {
 -webkit-transform: scale(1.2);
 -ms-transform: scale(1.2);
 transform: scale(1.2);
}

.card h3 {
 display: block;
 padding-top: 25px;
font-family: "Forum", sans-serif;
 font-weight:normal;
 font-size: 30px;
 letter-spacing: 5px;
 color:var(--bg-dark);
 text-transform: uppercase;
}

.card h3::after {
 content: '';
 display: block;
 padding-bottom: 10px;
 width: 70%;
 border-bottom: 2px solid var(--dark-red);
 transition: all 0.3s ease;
 }
.card h3:hover:after {
 width: 100%;
}

.card span{
  padding-top: 1%;
  text-transform: capitalize;
  font-weight:normal;
  font-family: var(--Roboto);
  font-size: 20px;
 letter-spacing: 1px;

}

.card p{
 padding-top: 3%;
 font-size: 18px;
 line-height: 20px;
 word-spacing: 1px;
 font-family: var(--Roboto);

}

.explore-section{
 display:flex;
 justify-content: space-between;
}

.explore-section * {
  width: 48%;
}


.content-text{
 font-family: "Regular", sans-serif;
}

.explore-section h2{
 position: relative;
 margin-bottom: 89px;
 width: 100%;
 font-size: 80px;
 font-weight:normal;
 letter-spacing: 5px;
 text-transform: uppercase;
 font-family: "Forum", sans-serif;
 color:var(--font-white);
}

.explore-section h2::after {
 content: "";
 position: absolute;
 bottom: -25px;
 left: 0;
 right: 0;
 height: 4px;
 background-color:var(--dark-red);
}

 .explore-section p{
   width: 100%;
   padding-bottom: 30px;
   text-align: justify;
   line-height: 40px;
  font-size: 22px;
   font-family:var(--Roboto);
   color: var(--font-white);
 }

 .explore-section p span{
   color:var(--font-gold);
 }

 .explore-section img{
 object-fit: contain;
 width: 100%;
}

.video-section {
 font-family: "Roboto" sans-serif;
 font-size:32px;
}

.video-section button {
 background-color: transparent;
 border: none;
 background-repeat: no-repeat;
}
.video-section button{
  transition: 1s;
 }

 .video-section button:hover{
  transform: scale(1.2);
 }

.video-section .controls {
 display: flex;
 justify-content: space-around;
 align-items:center;
 background: var(--bg-dark);
height: 72px;
 }

 .video-section .controls button {
   width: 40px;
   height: 40px;
   background-size: 70%;
   background-position: 50%;
 }

 .video-section .controls button.play {
   background-image: url(./assets/img/button_2.png);
 }

 .video-section .controls button.back {
   background-image: url(./assets/img/button_3.png);
 }

 .video-section .controls button.forward {
   background-image: url(./assets/img/button_4.png);
 }

 .video-section .controls button.volume {
   background-image: url(./assets/img/button_5.png);
 }

 .video-section .controls button.fullscreen {
   background-image: url(./assets/img/button_6.png);
 }

 .video-section .controls * {
   vertical-align: middle;
 }

 .video{
   display: block;
   position: relative;
   background-color: black;
}

.video video{
  width:100%;
}

.video button {
   display: block;
   position: absolute;
   width:16%;
   height:37%;
   bottom:32%;
   left:42%;
   background-size: 100%;
   background-image: url(./assets/img/button_1.png);
   transition: 1s;
}
.video button{
  transition: 1s;
}

video button:hover{
  transform: scale(1.2);
}

.progress-big {
   background: linear-gradient(to right, #679dad 0%, #679dad 40%, grey 40%, grey 100%);
   border: solid 2px black;
   border-radius: 0;
   height: 10px;
   width: 57%;
   outline: none;
   transition: background 450ms ease-in;
   -webkit-appearance: none;
 }

 .progress-big::-webkit-slider-thumb {
   width: 15px;
   height: 15px;
   border-radius: 50%;
   -webkit-appearance: none;
   cursor: ew-resize;
   background: var(--font-white);
 }
 .progress {
   background: linear-gradient(to right, #679dad 0%, #679dad 40%, grey 40%, grey 100%);
   border: solid 2px black;
   border-radius: 0;
   height: 10px;
   width: 10%;
   outline: none;
   transition: background 450ms ease-in;
   -webkit-appearance: none;
 }

 .progress::-webkit-slider-thumb {
   width: 15px;
   height: 15px;
   border-radius: 50%;
   -webkit-appearance: none;
   cursor: ew-resize;
   background: var(--font-white);
 }

.text-video-section{
   display:flex;
   justify-content: space-between;
   align-items:flex-start;
   padding-top: 3%;
}
  .text-video-section h2{
   width:55%;
   text-align: justify;
   color:var(--font-gold);
   font-family: "Forum", sans-serif;
   font-size: 80px;
   text-transform: uppercase;
   font-weight: normal;
   letter-spacing: 5px;
}

 .text-video-section p{
  width:45%;
  text-align:justify;
  font-family:var(--Roboto);
  font-size: 21px;
  font-weight:bold;
  line-height: 2;
 }

 .tickets-section h2{
   color:var(--font-white);

 }

 .tickets-big-container{
  display:flex;
  justify-content: space-between;
   padding-top: 7%;
}
.tickets-big-container > *{
  width:47%;
}


.radio-ticket{
  width:50%;
  padding-left: 4%;
}

.radio-ticket h3{
  margin-bottom: 17px;
  font-weight: bold;
  font-size: 28px;
  font-family: var(--Roboto-bold);
  text-transform: capitalize;

}

.container-ticket {
  display: block;
  font-size: 22px;
  line-height: 3.5;
  font-family: var(--Roboto);
  cursor: pointer;
}

.container-ticket span {
  vertical-align: middle;
}

.container-ticket input ~ span::before {
  vertical-align: middle;
  display: inline-block;
  content: '';
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
   box-shadow: 0px 0px 2px 2px var(--font-white);
}

.container-ticket input[checked] ~ span::before {
  width: 8px;
  height: 8px;
  background: #fff;
  border: 4px solid #000;
}

.button-ticket h4{
  display:block;
  text-align:right;
  font-weight: bold;
  font-size: 28px;
  font-family: var(--Roboto-bold);
  text-transform: capitalize;
}

.button-ticket span{
  display: block;
  font-size: 22px;
  line-height: 3.5;
  font-family: var(--Roboto-bold);
}


.button-ticket {
  width: 178px;
  margin-left: 28px;
}

.button-ticket .counter-group {
  width: 150px;
  border: 2px solid #fff;
}

.button-ticket .counter-group button{
  width:44px;
  height:50px;
  font-size: 22px;
  background-color: transparent;
  color: white;
  border: none;
}

.button-ticket .counter-group input{
  width:48px;
  height:50px;
  font-size:22px;
  background-color: transparent;
  color: var(--font-white);
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
}


.button-ticket .total-button{
  width:178px;
  height:50px;
  font-size: 22px;
  font-family: var(--Roboto-);
  text-transform: capitalize;
  background-color:  var(--font-white);
  color:var(--bg-dark);
  border: none;
  margin-left: -28px;

}

.tickets-section{
   color:var(--font-white);
}

.contacts-container{
 display:flex;
 justify-content: space-between;
 padding-top: 103px;

 }
 .contacts-container img{
width: 100%;
 }

 .section-text-contacts{
   width: 37%;
   color:black;
   font-family: "Roboto", sans-serif;
   font-size: 25px;
 }

.section-text-contacts h4{
  padding-top: 10px;
  padding-bottom:5%;
  font-family: var(--Roboto-bold);
  font-size: 25px;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 1.5;

 }
 .section-text-contacts p{
   line-height: 2;
   font-size: 22px;
 }

.footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 140px;
}

.footer > * {
  height: 140px;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  width:75%;
}

.image-icon-footer{
width: 25%;
 font-family: var(--Forum);
 font-size: 28px;
 text-transform: uppercase;
 letter-spacing: 5px;
 color: var(--font-white);
}

.image-icon-footer * {
 vertical-align: middle;
}

.image-icon-footer img{
  padding-right: 2%;
}

.nav-container-1 {
  width: 50%;

}

.nav-container-1 ul {
 columns: 2;
 -webkit-columns: 2;
 -moz-columns: 2;
 list-style: none;
}

.nav-container-1 li {
font-family:var(--Roboto);
 font-size: 22px;
 letter-spacing: 3px;
 word-spacing: 1px;
 margin-bottom: 22px;
}

.nav-container-3 {
  width: 30%;
  position: relative;
  height: 100%;
}

.nav-container-3 ul {
  position: absolute;
  bottom: 0;
  right: 0;
  list-style: none;
  justify-content: space-between;
  font-family: "Roboto" sans-serif;
  font-size: 20px;
  color: var(--font-white);
}

.nav-container-3 ul li {
  display: inline-block;
}

.nav-container-3 a{
  width: 100%;
  object-fit: fill;
  display: block;
  -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
}
.nav-container-3 a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}


.container-ticket input {
  display: none;

}

.container-ticket {
  display: block;
}

.container-ticket span {
  vertical-align: middle;
}

.container-ticket input ~ span::before {
  vertical-align: middle;
  display: inline-block;
  content: '';
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 2px #fff;
}

.container-ticket input:checked ~ span::before {
  width: 8px;
  height: 8px;
  background: #fff;
  border: 4px solid #000;
}


.ticket-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

